/*
Theme Name: Apex Child
Theme URI:
Description: Child theme for the Apex Responsive WordPress Theme
Author: Digital Science
Author URI: http://www.digitalscience.za.org/
Template: digitalscience-apex
Version: 2.0.0
*/

/* --------------------------------------------------------- */
/* !Add your custom styles below here */
/* --------------------------------------------------------- */

.form-control, .ginput_container input, .ginput_container select, .ginput_container textarea {background-color: rgba(255, 255, 255, .6);}

.apex-style-dark .form-control{color:#000;}

::-webkit-input-placeholder { /* WebKit browsers */
color: #000 !important;
opacity: 1;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #000 !important;
opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #000 !important;
opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #000 !important;
opacity: 1;
}

.apex-style-dark h1, h1.section-title {color:#006df0;}
#logo {position: absolute;left: 0px; z-index: 99999;}
#logo img {max-height: 100%;height:82.53px}

@media screen and (min-width: 320px) {
.input_style{min-width: 240px;}
}
@media screen and (max-width: 767px) {
#logo img {max-height: 100%;height:45.53px}
}

@media screen and (min-width: 767px) and (max-width: 769px){
#logo img {max-height: 100%;height:82.53px}
}

input#s {display:none;}
.btn-rat:hover {
    color: #084174 !important;
    border-color: #084174 !important;
    background: #fff !important;
}
.btn-rat {
    color: #fff !important;
    border-color: #fff !important;
}

.blue-btn{color: #084174 !important;
    border-color: #084174 !important;
    background: #fff !important;}
.blue-btn:hover{background:#084174 !important;color:#fff !important;}
.subtitle_report {max-width:660px;color:#fff;margin:0 auto;}
.whitetext{color:#fff !important;}

.service_div{min-height:300px;}
.input_style{border: none;background-color: #e4e4e4;box-shadow: none;    display: table-cell; width: 300px;}
.form_style {text-align: left;}
.submit_style{border: 1.5px solid #084174; border-radius: 5px; padding: 6px 37px;background-color: transparent; margin:25px 0px !Important;font-weight: 500;}
.submit_style:hover{background-color:#084174; color:#fff;}
.form p{margin-bottom:0px; display:table-row;}
.form_hyperlinks{color:#666 !important;font-weight: 500;}
.form_hyperlinks:hover{color:#084174 !important;}
.form_info{font-weight: 500;min-width:80px;display:table-cell;}
.form{display:table;}
.es_textbox , .es_lablebox, .es_button {display:inline;}
.es_textbox_class {width:40%;}
.es_lablebox {color:#fff;}
.es_textbox {padding:0 10px;}
.es_textbox_button{border: 1px solid #fff;background: transparent;color: white;border-radius: 5px;font-weight: 500;}
.es_textbox_button:hover{border-color:#fff;background:#fff; color:#084174;font-weight: 500;}
.conduct-list{margin:0 auto;width:32%;}
