@font-face {
    font-family: 'icomoon';
    src:    url( 'http://demo.com/meris/wp-content/uploads/wp-svg-icons/custom-pack/fonts/icomoon.eot?dh0ybs');
    src:    url( 'http://demo.com/meris/wp-content/uploads/wp-svg-icons/custom-pack/fonts/icomoon.eot?dh0ybs#iefix') format('embedded-opentype'),
        url( 'http://demo.com/meris/wp-content/uploads/wp-svg-icons/custom-pack/fonts/icomoon.ttf?dh0ybs') format('truetype'),
        url( 'http://demo.com/meris/wp-content/uploads/wp-svg-icons/custom-pack/fonts/icomoon.woff?dh0ybs') format('woff'),
        url( 'http://demo.com/meris/wp-content/uploads/wp-svg-icons/custom-pack/fonts/icomoon.svg?dh0ybs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="wp-svg-custom-"], [class*=" wp-svg-custom-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wp-svg-custom-ESLAM-3-01:before {
    content: "\e900";
}
.wp-svg-custom-ESLAM-3-02:before {
    content: "\e901";
}
.wp-svg-custom-ESLAM-3-03:before {
    content: "\e902";
}
.wp-svg-custom-ESLAM-3-04:before {
    content: "\e903";
}
.wp-svg-custom-ESLAM-3-05:before {
    content: "\e904";
}
.wp-svg-custom-ESLAM-3-06:before {
    content: "\e905";
}
.wp-svg-custom-ESLAM-3-07:before {
    content: "\e906";
}
.wp-svg-custom-ESLAM-3-08:before {
    content: "\e907";
}

